[submodule "docker_example/scripts/ddpm-ood"]
	path = docker_example/scripts/ddpm-ood
	url = git@github.com:evihuijben/ddpm-mood.git
[submodule "docker_example/scripts/GenerativeModels"]
	path = docker_example/scripts/GenerativeModels
	url = git@github.com:Project-MONAI/GenerativeModels.git
